[Unit]
Description=ROS2 launch
After=local-fs.target
ConditionPathExists=/home/pi/service

[Service]
ExecStart=/home/pi/service/ros2_launch.sh
ExecStop=/bin/kill ${MAINPID}
Restart=on-failure
StartLimitInterval=60
StartLimitBurst=3
KillMode=mixed
Type=simple
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
